<%= simple_form_for(@server, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @server.errors.any? %>
    <div class="text-error" id="error_explanation">
      <h3><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h3>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :hostname %>
  <%= f.input :ip_address, :label => "IP Address" %>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
