<h1>Listing servers</h1>

<table class="table table-striped">
  <tr>
    <th>Hostname</th>
    <th>IP Address</th>
    <th></th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td><%= link_to server.hostname, server_path(server) %></td>
    <td><%= link_to server.ip_address, server_path(server) %></td>
    <td>
      <%= link_to 'Edit', edit_server_path(server), :class => "btn btn-mini" %>
      <%= link_to 'Destroy', server, :method => :delete, :data => { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-mini" %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Server', new_server_path, :class => "btn btn-small" %>
